project:
  type: website

website:
  title: "uk-petitions-dashboard"
  sidebar:
    contents:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: dashboard.qmd
        text: Das

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



